<div class="flex-grow-1 d-flex overfow-auto overflow-y-scroll"> <!-- content -->
  <div class="container-fluid">

    <div class="card mt-3 h-75">
      <div class="card-body h-75">

        <textarea class="form-control" id="settings-textarea"></textarea>

        <div class="d-flex mt-2">
          <button type="button" class="btn btn-secondary" id="load-settings">Load settings</button>
          <button type="button" class="btn btn-primary ms-auto" id="save-settings">Save settings</button>
        </div>

      </div>
    </div>

  </div>
</div> <!-- /content -->
