<script src="{{ url_for('repo_core.static', filename='vendor/codemirror/js/codemirror.min.js') }}"></script>
<script src="{{ url_for('repo_core.static', filename='vendor/codemirror/js/mode/yaml.min.js') }}"></script>
<script src="{{ url_for('repo_core.static', filename='vendor/codemirror/js/addon/lint.min.js') }}"></script>
<script src="{{ url_for('repo_core.static', filename='vendor/js/js-yaml.min.js') }}"></script>
<script src="{{ url_for('repo_core.static', filename='vendor/codemirror/js/addon/yaml-lint.min.js') }}"></script>
<script src="{{ url_for('repo_core.static', filename='js/settings.js') }}"></script>
